In [10]:
import pickle

ref_data = [{} for i in range(8)]
total_nums = [0,0,100,0,0,96525,45540,990]

for i in range(5, 8):
    file_path = f'../assets/db/bckt{i}-2.pkl'
    with open(file_path, 'rb') as fp:
        ref_data[i] = pickle.load(fp)

In [11]:
ref_data[2] = {
    '22': 4, '33': 5, '44': 5, '55': 6, '66': 6, '77': 7, '88': 7, '99': 8, 'TT': 9, 'JJ': 9, 'QQ': 10, 'KK': 10, 'AA': 10,
    '23': 1, '24': 1, '25': 1, '26': 1, '27': 1, '28': 2, '29': 2, '2T': 2, '2J': 3, '2Q': 3, '2K': 4, '2A': 5,
    '34': 1, '35': 1, '36': 1, '37': 1, '38': 2, '39': 2, '3T': 3, '3J': 3, '3Q': 4, '3K': 4, '3A': 5,
    '45': 2, '46': 2, '47': 2, '48': 2, '49': 2, '4T': 3, '4J': 3, '4Q': 4, '4K': 4, '4A': 5,
    '56': 2, '57': 2, '58': 2, '59': 3, '5T': 3, '5J': 3, '5Q': 4, '5K': 5, '5A': 6,
    '67': 3, '68': 3, '69': 3, '6T': 3, '6J': 4, '6Q': 4, '6K': 5, '6A': 5,
    '78': 3, '79': 3, '7T': 4, '7J': 4, '7Q': 4, '7K': 5, '7A': 6,
    '89': 4, '8T': 4, '8J': 4, '8Q': 5, '8K': 5, '8A': 6,
    '9T': 4, '9J': 5, '9Q': 5, '9K': 5, '9A': 6,
    'TJ': 5, 'TQ': 5, 'TK': 6, 'TA': 6,
    'JQ': 5, 'JK': 6, 'JA': 7,
    'QK': 6, 'QA': 7,
    'KA': 7, 
    '2s3s': 1, '2s4s': 2, '2s5s': 2, '2s6s': 2, '2s7s': 2, '2s8s': 2, '2s9s': 3, '2sTs': 3, '2sJs': 4, '2sQs': 4, '2sKs': 5, '2sAs': 5,
    '3s4s': 2, '3s5s': 2, '3s6s': 2, '3s7s': 2, '3s8s': 2, '3s9s': 3, '3sTs': 3, '3sJs': 4, '3sQs': 4, '3sKs': 5, '3sAs': 6,
    '4s5s': 2, '4s6s': 2, '4s7s': 3, '4s8s': 3, '4s9s': 3, '4sTs': 3, '4sJs': 4, '4sQs': 4, '4sKs': 5, '4sAs': 6,
    '5s6s': 3, '5s7s': 3, '5s8s': 3, '5s9s': 3, '5sTs': 3, '5sJs': 4, '5sQs': 5, '5sKs': 5, '5sAs': 6, 
    '6s7s': 3, '6s8s': 3, '6s9s': 4, '6sTs': 4, '6sJs': 4, '6sQs': 5, '6sKs': 5, '6sAs': 6,
    '7s8s': 4, '7s9s': 4, '7sTs': 4, '7sJs': 4, '7sQs': 5, '7sKs': 5, '7sAs': 6,
    '8s9s': 4, '8sTs': 4, '8sJs': 5, '8sQs': 5, '8sKs': 6, '8sAs': 6,
    '9sTs': 5, '9sJs': 5, '9sQs': 5, '9sKs': 6, '9sAs': 6,
    'TsJs': 5, 'TsQs': 6, 'TsKs': 6, 'TsAs': 7,
    'JsQs': 6, 'JsKs': 6, 'JsAs': 7,
    'QsKs': 6, 'QsAs': 7,
    'KsAs': 7
}
value_to_char = {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G', 8: 'H', 9: 'I', 10: 'J'}
for key, value in ref_data[2].items():
        if value in value_to_char:
                ref_data[2][key] = value_to_char[value]
print(ref_data[2])

{'22': 'D', '33': 'E', '44': 'E', '55': 'F', '66': 'F', '77': 'G', '88': 'G', '99': 'H', 'TT': 'I', 'JJ': 'I', 'QQ': 'J', 'KK': 'J', 'AA': 'J', '23': 'A', '24': 'A', '25': 'A', '26': 'A', '27': 'A', '28': 'B', '29': 'B', '2T': 'B', '2J': 'C', '2Q': 'C', '2K': 'D', '2A': 'E', '34': 'A', '35': 'A', '36': 'A', '37': 'A', '38': 'B', '39': 'B', '3T': 'C', '3J': 'C', '3Q': 'D', '3K': 'D', '3A': 'E', '45': 'B', '46': 'B', '47': 'B', '48': 'B', '49': 'B', '4T': 'C', '4J': 'C', '4Q': 'D', '4K': 'D', '4A': 'E', '56': 'B', '57': 'B', '58': 'B', '59': 'C', '5T': 'C', '5J': 'C', '5Q': 'D', '5K': 'E', '5A': 'F', '67': 'C', '68': 'C', '69': 'C', '6T': 'C', '6J': 'D', '6Q': 'D', '6K': 'E', '6A': 'E', '78': 'C', '79': 'C', '7T': 'D', '7J': 'D', '7Q': 'D', '7K': 'E', '7A': 'F', '89': 'D', '8T': 'D', '8J': 'D', '8Q': 'E', '8K': 'E', '8A': 'F', '9T': 'D', '9J': 'E', '9Q': 'E', '9K': 'E', '9A': 'F', 'TJ': 'E', 'TQ': 'E', 'TK': 'F', 'TA': 'F', 'JQ': 'E', 'JK': 'F', 'JA': 'G', 'QK': 'F', 'QA': 'G', 'KA': 'G', '2s3s': 'A', '2s4s': 'B', '2s5s': 'B', '2s6s': 'B', '2s7s': 'B', '2s8s': 'B', '2s9s': 'C', '2sTs': 'C', '2sJs': 'D', '2sQs': 'D', '2sKs': 'E', '2sAs': 'E', '3s4s': 'B', '3s5s': 'B', '3s6s': 'B', '3s7s': 'B', '3s8s': 'B', '3s9s': 'C', '3sTs': 'C', '3sJs': 'D', '3sQs': 'D', '3sKs': 'E', '3sAs': 'F', '4s5s': 'B', '4s6s': 'B', '4s7s': 'C', '4s8s': 'C', '4s9s': 'C', '4sTs': 'C', '4sJs': 'D', '4sQs': 'D', '4sKs': 'E', '4sAs': 'F', '5s6s': 'C', '5s7s': 'C', '5s8s': 'C', '5s9s': 'C', '5sTs': 'C', '5sJs': 'D', '5sQs': 'E', '5sKs': 'E', '5sAs': 'F', '6s7s': 'C', '6s8s': 'C', '6s9s': 'D', '6sTs': 'D', '6sJs': 'D', '6sQs': 'E', '6sKs': 'E', '6sAs': 'F', '7s8s': 'D', '7s9s': 'D', '7sTs': 'D', '7sJs': 'D', '7sQs': 'E', '7sKs': 'E', '7sAs': 'F', '8s9s': 'D', '8sTs': 'D', '8sJs': 'E', '8sQs': 'E', '8sKs': 'F', '8sAs': 'F', '9sTs': 'E', '9sJs': 'E', '9sQs': 'E', '9sKs': 'F', '9sAs': 'F', 'TsJs': 'E', 'TsQs': 'F', 'TsKs': 'F', 'TsAs': 'G', 'JsQs': 'F', 'JsKs': 'F', 'JsAs': 'G', 'QsKs': 'F', 'QsAs': 'G', 'KsAs': 'G'}

In [12]:
import ast

total_data = []
model = 'res_v3_b8'
for i in range(1):
    file_path = f'../assets/slumbot/record.txt'
    with open(file_path, "r") as file:
        for idx, line in enumerate(file):
            hand_data = {} 
            cols = line.split(",")
            hand_data['id'] = ast.literal_eval(cols[0][5:])
            hand_data['is_first'] = ast.literal_eval(cols[1][12:])
            hand_data['hand_win'] = ast.literal_eval(cols[2][12:])
            hand_data['total_win'] = ast.literal_eval(cols[3][13:])
            hand_data['history_action'] = cols[4][18:]
            hand_data['hole_cards'] = ast.literal_eval((','.join(cols[5:7]))[14:])
            hand_data['bot_hole_cards'] = ast.literal_eval((','.join(cols[7:9]))[18:])
            hand_data['board_cards'] = ast.literal_eval((','.join(cols[9:]))[15:])
            total_data.append(hand_data)
        file.close()
len(total_data)

4000

In [13]:
import re

def transform(cards, idx):
	num_dict = {
		"s": 0,
		"h": 0,
		"c": 0,
		"d": 0,
	}
	
	for card in cards:
		num_dict[card[-1]] += 1
	
	max_suit = max(num_dict, key=num_dict.get)
	max_suit_count = num_dict[max_suit]

	MIN_NUM = {2: 2, 5: 3, 6: 4, 7: 5}
	if max_suit_count < MIN_NUM[idx]:
		return ''.join([f"{card[:-1]}" for card in cards])
	else:
		result = []
		for card in cards:
			suit = card[-1]
			if suit == max_suit:
				result.append(f"{card[:-1]}s") 
			else:
				result.append(f"{card[:-1]}o") 
		return ''.join(result)

def find(code, idx):
	def get_card_rank(card):
		ranks = '23456789TJQKA'
		return ranks.index(card)
	
	perm = ""
	if len(code) == idx:
		hand = ''.join(sorted(code[:2], key=get_card_rank))
		remaining = ''.join(sorted(code[2:], key=get_card_rank))
		perm = hand + remaining

	elif len(code) == idx*2:
		grouped = [code[i:i+2] for i in range(0, len(code), 2)]
		hand = ''.join(sorted(grouped[:2], key=lambda x: (get_card_rank(x[0]), x[1] )))
		remaining = ''.join(sorted(grouped[2:], key=lambda x: (get_card_rank(x[0]), x[1]) ))
		perm = hand + remaining

	else:
		return None
	
	if perm in ref_data[idx]:
		return [perm, ref_data[idx][perm]]

	print(f"{code}, {perm} not found")
	
	return None

def get_curr_street_action(path, IDX, is_first, hand_win):
	splits = path.split('/')
	curr_splits = splits[-1]
	if curr_splits.endswith('f') and hand_win < 0:
		return 'f'
	elif curr_splits == 'f' and hand_win > 0:
		return '/'
	result = re.split(r'[kbfc]+', curr_splits) 
	matches = list(re.finditer(r'[kbfc]', curr_splits))	
	if len(matches) <= 0: 
		return ''
	action1 = matches[1].group()
	action2 = matches[0].group()
	return action1 if is_first else action2

IDX = 2
side = 'model' # or slumbot
cnts = [0 for i in range(8)]
my_data = [[] for i in range(8)]
for hand_data in total_data:
	cards = []
	hand_win = 0
	if side == 'model':
		cards = hand_data['hole_cards'] + hand_data['board_cards']
		hand_win = hand_data['hand_win']
	elif side == 'slumbot':
		cards = hand_data['bot_hole_cards'] + hand_data['board_cards']
		hand_win = -hand_data['hand_win']
	# stats
	idx = len(cards)
	cnts[idx] += 1
	if idx >= IDX:
		cards = cards[:IDX]
		code = transform(cards, IDX)
		res = find(code, IDX)
		if res == None:
			continue
		group = res[-1]
		action = get_curr_street_action(hand_data['history_action'], IDX, hand_data['is_first'], hand_win)

		if action == '/': continue
		
		my_data[IDX].append({
			'my_hole_cards': cards[:2],
			'slumbot_hole_cards': hand_data['bot_hole_cards'],
			'board_cards': hand_data['board_cards'],
			'hand_win': hand_win,
			'code': code,
			'group': group,
			'is_first': hand_data['is_first'],
			'action_path': hand_data['history_action'],
			'target_action_path': action,
		})
		
len(my_data[IDX])

3766

In [14]:
import pandas as pd

df = pd.DataFrame(my_data[IDX])
df

,my_hole_cards,slumbot_hole_cards,board_cards,hand_win,code,group,is_first,action_path,target_action_path
0,"[Kc, 7h]","[Ad, Kh]","[8h, 6s, 2d, 4d, 5h]",7200,K7,E,False,b200b400b1800b3600c/b1800c/b1800c/kk,k
1,"[Qs, 2d]","[As, 2h]","[Ad, Qh, 5h, 5d, Js]",-1100,Q2,C,True,b200c/kb200c/kb500c/kb200c,b
2,"[9h, 2d]","[Qs, 6h]",[],200,92,B,False,b200b400f,b
3,"[9s, 9d]","[Kc, 8s]","[7h, 4s, 2d]",300,99,H,True,b300c/kb200f,b
4,"[Ts, 9s]","[Qc, Th]","[Td, 7c, 6h, 4d, 8c]",1400,Ts9s,E,False,b200b400c/b400c/b400c/b200c,b
...,...,...,...,...,...,...,...,...,...
3761,"[Qh, 8s]","[5c, 4h]",[],100,Q8,E,True,b500f,f
3762,"[Kc, Qs]","[Ah, Th]","[Js, 9s, 4s, 5d]",400,KQ,F,False,b200b400c/kk/b250f,b
3763,"[Js, 9d]","[9h, 7d]",[],100,J9,E,True,b500f,f
3764,"[Js, 7h]","[Jh, 9d]","[Ac, 4s, 4c]",400,J7,D,False,b200b400c/b400f,b
3765,"[Tc, 2d]","[Qd, 3h]",[],100,T2,B,True,b300f,f

In [15]:
pivot = pd.crosstab(df['target_action_path'], df['group'], normalize='columns') * 100

pivot = pivot.round(2)

all_actions = ['b', 'k', 'f', 'c']
missing_actions = [action for action in all_actions if action not in pivot.index]
for action in missing_actions:
    pivot.loc[action] = 0.0

pivot = pivot.reindex(all_actions)
pivot

group,A,B,C,D,E,F,G,H,I,J
target_action_path,,,,,,,,,,
b,53.04,57.19,58.04,59.00,56.42,55.37,58.58,58.82,54.55,55.81
k,2.56,2.51,1.96,2.36,3.07,3.31,2.37,0.00,0.00,2.33
f,41.53,38.46,39.16,37.46,38.97,39.67,37.28,41.18,42.42,41.86
c,0.64,0.17,0.00,0.29,0.14,0.21,0.00,0.00,0.00,0.00

In [ ]:
pivot.to_csv(f'../assets/slumbot/stat/stat-8/{model}-{side}-{IDX}.csv')

In [17]:
import pandas as pd
import os
from pathlib import Path

def combine_csv_to_excel(folder_path, output_excel='combined_data.xlsx'):
    if not os.path.exists(folder_path):
        raise ValueError(f"{folder_path} not exist")
    
    csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]
    
    if not csv_files:
        print("no csv!")
        return
    
    with pd.ExcelWriter(output_excel) as writer:
        for csv_file in csv_files:
            try:
                file_path = os.path.join(folder_path, csv_file)
                df = pd.read_csv(file_path)
                
                sheet_name = Path(csv_file).stem
                
                if len(sheet_name) > 31:
                    sheet_name = sheet_name[:31]
                
                df.to_excel(writer, sheet_name=sheet_name, index=False)
                print(f"handled: {csv_file}")
                
            except Exception as e:
                print(f"error while handling {csv_file}: {str(e)}")
    
folder_path = "../assets/slumbot/stat/stat-7"
output_path = "../assets/slumbot/stat/stat-7/combined.xlsx"
combine_csv_to_excel(folder_path, output_path)

handled: street-2.csv
handled: street-5.csv
handled: street-6.csv
handled: street-7.csv